.hidden-visually {
	position: absolute !important;
	top: auto !important;
	left: -100vw !important;
	width: 1px !important;
	height: 1px !important;
	margin: 0 !important;
	border: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
}

* {
  box-sizing: border-box;
}

sup {
	line-height: 0;
}

html {
	height: 100%;
	color: white;
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  line-height: 1.25;
}

body {
	margin: 0;
	background: radial-gradient(50% 50% at 50% 50%, rgba(123, 131, 126, 0.9) 0%, rgba(54, 75, 73, 0.9) 100%), #364b49;
	background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
	right: 0;
	z-index: 1;
	writing-mode: vertical-rl;
	line-height: 1;
	height: 100%;
	padding: 1.25rem 0.25rem 1.25rem 0;
	display:flex;
	justify-content: space-between;
}

header > * {
	flex: 1 1 auto;
}

header > *:not(:last-child) {
	margin-bottom: 1rem;
}

header ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

header ul > li:not(:last-child) {
	margin-bottom: 1rem;
}

header a {
	color: white;
	text-decoration: none;
}

main {
	position: relative;
	max-width: 65rem;
	margin: 5rem auto;
}

main h1 {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 2rem;
	z-index: 1;
}

main h1 span {
	display: inline-block;
	background-color: black;
	padding: 0.625rem 0.375rem 0;
}

main h1 span:last-of-type {
	padding-bottom: 0.75rem;
}

@media(min-width: 40rem) {
  main h1 {
		position: absolute;
		top: 6rem;
		left: 0;
		font-size: 2rem;
	}
}

.shards {
	position: relative;
	margin: 0 20%;
	display: grid;
	grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

img {
	display: block;
	width: 100%;
	height: auto;
	grid-area: 1 / 1 / -1 / -1;
}

.shards [class^="shard"]::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/110238/codrops-portrait-bg.jpg");
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: center;
}

.shard-1 {
  grid-column: 6 / span 6;
  grid-row: 1 / -1;
	clip-path: polygon(5% 10%, 27% 3%, 94% 25%, 84% 98%, 39% 98%, 11% 98%, 4% 66%, 4% 34%);
}

.shard-2 {
	grid-column: 5 / span 4;
	grid-row: 6 / 11;
	clip-path: polygon(5% 3%, 96% 4%, 95% 95%, 6% 95%, 20% 30%);
}

.shard-3 {
	grid-column: 2 / span 4;
  grid-row: 6 / 12;
  clip-path: polygon(10% 19%, 93% 15%, 90% 88%, 13% 92%);
}

.shard-4 {
	grid-column: 4 / span 2;
  grid-row: 3 / 5;
  clip-path: polygon(4% 13%, 84% 12%, 86% 34%, 80% 45%, 80% 76%, 10% 90%);
  width: 70%;
  margin-top: 20%;
  justify-self: center;
}

.shard-5 {
	grid-column: 1 / span 2;
  grid-row: 11 / -1;
  clip-path: polygon(3% 2%, 50% 25%, 97% 8%, 97% 97%, 3% 98%);
}

.shard-6 {
	grid-column: 1 / span 2;
  grid-row: 1 / 4;
  clip-path: polygon(14% 13%, 84% 12%, 86% 34%, 90% 66%, 30% 76%, 10% 79%);
}

.shard-7 {
	grid-column: 11 / -1;
  grid-row: 2 / 7;
  clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%);
}

.shard-8 {
	grid-column: 1 / span 3;
  grid-row: 4 / 7;
  clip-path: polygon(9% 4%, 80% 0%, 100% 100%, 0% 100%);
}

.shard-9 {
	grid-column: 10 / 12;
  grid-row: 1 / 6;
  clip-path: polygon(5% 4%, 94% 3%, 97% 96%, 13% 96%);
}